:root {
    width: 825px;
    margin: auto;
}

h1 {
    color: #223a43;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: .5em 0 .5em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

p {
    margin: 0 30px 0 30px;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #223a43;
}

header {
    background-image: url("../images/beach1.png");
    height: 300px;
}

nav {
    text-align: right;
    margin: 0 20px 0 0;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
}

#about {
    background: #b2ccd5;
    height: 200px;
}

#skills {
    background: #6b8f71;
}

#skills img {
    width: 800px;
    margin: auto;
    display: block;
}

#recs {
    background: #f4e8c1;
}

footer {
    background: #223a43;
    height: 230px;
}

footer img {
    height: 210px;
    margin: auto;
    margin: .75em 0 1.5em 0;
}

.half {
    width: 49%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

h4 {
    color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
    font-size: 24px;
}

h5 {
    color: #f4e8c1;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

footer a {
    color: #f4e8c1;
}