:root {
    width: 825px;
}

h1,
h2 {
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

header {
    background-image: url("../images/beach1.jpg");
}

#about {}

#skills {}

#recs {}

footer {}

footer div {
    width: 400px;
    display: inline-block;
    float: left;
}

footer img {
    width: 315px;
}