:root {
    width: 825px;
    margin: auto;
}

h1 {
    color: #223a43;
    font-weight: bold;
    margin: 2em 0 0 160px;
    font-variant: small-caps;
}

h2 {
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

header {
    background-image: url("../images/beach1.png");
    height: 300px;
}

nav {
    text-align: right;
}

#about {}

#skills {}

#recs {}

footer {}

footer div {
    width: 400px;
    display: inline-block;
    float: left;
}

footer img {
    width: 315px;
}